<div id="bookIndex">
  <scrolling="yes">
  <div class="search-form">
    <%= render "search_form" %>
  </div>
  <div class="search-results">

<<<<<<< HEAD
atom atoms<scrolling="yes">
<header>Bison Bookshelf</header>
=======
  </div>
>>>>>>> 2752dc90826bd4faeda3684eaec69369a61ff4b8

  <div id="video-container">
    <%= video_tag "intro-clip.mp4", autoplay: true, poster: "intro-stop.jpg" %>
  </div>
</scrolling="yes">

