<div id="bookIndex">
  <div id="video-container">
    <%= video_tag "intro-clip.mp4", autoplay: true, poster: "intro-stop.jpg" %>
  </div>
  <div class="search-form">
    <%= render "search_form" %>
  </div>
<<<<<<< HEAD
  <div class="search-results">


<scrolling="yes">
<header>Bison Bookshelf</header>

  </div>


  <div id="video-container">
    <%= video_tag "intro-clip.mp4", autoplay: true, poster: "intro-stop.jpg" %>
  </div>
</scrolling="yes">
=======
  <div class="search-container">
    <div class="search-results">
    </div>
  </div>
</div>
>>>>>>> 3865d03d2bfb34d0d74cd97abe1e1cf9bfdb10e9
