<div id="bookIndex">
  <div id="video-container">
    <%= video_tag "intro-clip.mp4", autoplay: true, poster: "intro-stop.jpg" %>
  </div>
  <div class="search-form">
    <%= render "search_form" %>
  </div>
