<<<<<<< HEAD
<<<<<<< HEAD
<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
=======
#site wide index
# has a sweet discription for 
>>>>>>> cb64c50c04b284f83c29290d877332e7b9e2d760
=======
<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
#site wide index
# has a sweet discription for 
>>>>>>> e98ae368e40c086b725642f341c10bc73e822d5b
