<<<<<<< HEAD
<<<<<<< HEAD
<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
=======
#show should render the users bookshelf, if empty there
#should be a plus sign that has a search engin for
#books that allows you to add it to the bookshelf
#
>>>>>>> cb64c50c04b284f83c29290d877332e7b9e2d760
=======
<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

#show should render the users bookshelf, if empty there
#should be a plus sign that has a search engin for
#books that allows you to add it to the bookshelf
>>>>>>> e98ae368e40c086b725642f341c10bc73e822d5b
