<div id="userIndexConatiner">
  <h1>See Other Users Bookselfs:</h1>
  <% @users.each do |user| %>
    <div>
      <p class="user-index">	&#128214; <%= link_to user.email, user_path(user.id), class: "user-index" %></p>
    </div>
  <% end %>
</div>
