/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #313745;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

nav {
  align-items: center;
  background-color: #474e60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button {
  background-color: grey;
  border-radius: 10px;
  box-shadow: 2px 2px #313745;
}

button:hover{
  background-color: #313745;
  box-shadow: 2px 2px grey;
}

button a{
  color: white;
  text-decoration: none;
}


.header{
display: flex;
flex-direction: column;
width: 100%;
height: 90px;
background-color: rgba(95, 158, 160, 0.31);
}

/* Book Index Page*/

#bookIndex {
  margin: 20px;
}

.serach-form {

}

/* Video STyling for Book Index Page*/
#video-container {
  background-image: url(intro-stop.png);
  left: 0%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0%;
  width: 100vw;
  z-index: -100;
}

video {
  position: absolute;
  margin-top: -10px;
  width: 102vw;
  z-index: -100;
}

/*devise form styling*/
.login {
    font-family: Limelight;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: yellow;
}

input.form-control {
  color: #777;
      padding-left: 10px;
      margin: 10px;
      margin-top: 12px;
      margin-left: 18px;
      width: 290px;
      height: 35px;
      border: 1px solid #c7d0d2;
      border-radius: 2px;
      box-shadow: inset 0 1.5px 3px
      rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;

}

.form-control {
  background-color: white;
  padding: 3%;
  margin: 3%;
}

p.alert{
  color: red;
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
}


.login-container {
      position: absolute;
      width: 340px;
      height: 420px;
      top: 50%;
      left: 50%;
      margin-top: -140px;
      margin-left: -170px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.form-container {
    margin: 0 auto;
    margin-top: 20px;
}

.btn{
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 24px;
  color: #555;
  margin-bottom: -20px;


}

.log{
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 24px;
  color: #555;
  margin-bottom: -20px;
}

label{
    font-family: Rajdhani;
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

.field{


}

.control-label{

}

.remember{
  display: block;
  margin-left: 16px;
  margin-top: -17px;
  }

.action{

}
