/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #313745;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

nav {
  align-items: center;
  background-color: #474e60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button {
  background-color: grey;
  border-radius: 10px;
  box-shadow: 2px 2px #313745;
}

button:hover{
  background-color: #313745;
  box-shadow: 2px 2px grey;
}

button a{
  color: white;
  text-decoration: none;
}


.header{
    background-color: rgba(95, 158, 160, 0.31);
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
}

/* Book Index Page*/

#bookIndex {
  margin: 20px;
}

.serach-form {

}

/* Video STyling for Book Index Page*/
#video-container {
  background-image: url(intro-stop.png);
  left: 0%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0%;
  width: 100vw;
  z-index: -100;
}

video {
  position: absolute;
  margin-top: -10px;
  width: 102vw;
  z-index: -100;
}

/*devise form styling*/
.login {
    font-family: Limelight;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: yellow;
}

.form-control {
  background-color: white;
  padding: 3%;
  margin: 3%;

}

input {
  background-color: white;
  -webkit-background-color: white;
}

.form-container {
    height: 70%;
    width: 30%;
    border: solid;
    padding: 3%;
    position: absolute;
    top: 20%;
    left: 40%;
}
