/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #313745;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

nav {
  align-items: center;
  background-color: #474e60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button {
  background-color: grey;
  border-radius: 10px;
  box-shadow: 2px 2px #313745;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

button:hover{
  background-color: #313745;
  box-shadow: 2px 2px grey;
  font-family: 'Libre Baskerville', serif;
}

button a{
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}

.review-button {
  background-color: grey;
  border-radius: 10px;
  box-shadow: 2px 2px #313745;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.review-button:hover{
  background-color: #313745;
  box-shadow: 2px 2px grey;
  font-family: 'Libre Baskerville', serif;
}

.header{
display: flex;
flex-direction: column;
width: 100%;
height: 90px;
background-color: rgba(95, 158, 160, 0.31);
}

.button-div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.button-nav {
  margin: 0 5px 0 5px;
}

.music-div {
  display: flex;
  justify-content: flex-end;
  z-index: -50;
}

.music-div button {
  margin: 3px;
}

/* Book Index Page*/

.title-input{
    background-color: white;
    padding: 1%;
    margin: 1%;
}

.music-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.music-div-search button {
  margin: 3px;
}

.search-form-book {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.search-form-book button{
  color: white;

}

#bookIndex {
  margin: 20px;
}

.search-container {
  border-radius: 10px;
  position: relative;
  width: 90%;
  height: 400px;
  margin: 5px auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
}

  .search-result {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    padding: 5px 20px 5px 20px;
  }

  .search-result img{
    box-shadow: 2px 2px rgba(250,250,250,0.5);
    margin: 10px 0 0 0;
    max-height: 160px;
  }

.buy-link-div {
  visibility: hidden;
}

.title-div {
  font-size: 18px;
  text-decoration: underline;
  text-shadow: 1px 1px grey;
}

.author-div {
  font-size: 12px;
  padding: 5px 0 0 0;
}

.description-div {
  font-size: 12px;
  padding: 0 0 5px 0;
}

/* Video Styling for Book Index Page*/
#video-container {
  background-image: url(intro-stop.jpg);
  left: 0%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0%;
  width: 100vw;
  z-index: -100;
}

video {
  position: absolute;
  margin-top: -10px;
  width: 102vw;
  z-index: -100;
}

/*devise form styling*/
.login {
    font-family: Limelight;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: yellow;
}

input.form-control {
  color: #777;
      padding-left: 10px;
      margin: 10px;
      margin-top: 12px;
      margin-left: 18px;
      width: 290px;
      height: 35px;
      border: 1px solid #c7d0d2;
      border-radius: 2px;
      box-shadow: inset 0 1.5px 3px
      rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;

}

.form-control {
  background-color: white;
  padding: 3%;
  margin: 3%;
}

p.alert{
  color: red;
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
}


.login-container {
      position: absolute;
      width: 340px;
      height: 420px;
      top: 50%;
      left: 50%;
      margin-top: -140px;
      margin-left: -170px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.form-container {
    margin: 0 auto;
    margin-top: 20px;
}

.btn{
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 24px;
  color: #555;
  margin-bottom: -20px;


}

.log{
  font-family: Rajdhani;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 24px;
  color: #555;
  margin-bottom: -20px;
}

label{
    font-family: Rajdhani;
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

.field{


}

.control-label{

}

.remember{
  display: block;
  margin-left: 16px;
  margin-top: -17px;
  }

.action{

}


/*Creating that bookshelf*/
.bookshelf{
  background-color: rgb(61, 57, 52);
  position: relative;
  width: 90%;
  height: 400px;
  margin: 5px auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.shelf{
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 350px;
  overflow-x: scroll;
  overflow-y: hidden;
}

/*Book Show Page*/

#bookShowContainer {
  margin: 20px;
}

#book-and-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.single-book {
  background-color: rgba(71,78,96,0.9);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(150,150,150,0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px 0 0;
  padding: 10px;
  width: 57%;
}

#book-reviews {
  margin: 0 0 0 10px;
  padding: 10px;
  width: 37%;
}

.buy-link-show {
  font-style: italic;
  font-size: 10px;
}

.title-author {
  width: 60%;
}

.image-single {
}

.image-single img {
  box-shadow: 2px 2px rgba(250,250,250,0.5);
  height: 250px;
}

.description-buy {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 0;
  width: 35%;
}

.description-show {
  color: rgb(200,200,200);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
}

.book-delete {
  margin: 20px 0 0 0;

}

.book-title-show {
  text-shadow: 2px 2px rgba(150,150,150, 0.5);
}

.review-content-show {
  font-size: 16px;
}

.review-form-show {
  background-color: rgba(0,0,0,0.4);
  box-shadow: 2px 2px rgba(150,150,150,0.7);
  border-radius: 10px;
  padding: 10px;
}

/*Review Form*/

.review-form {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: row;
}

.review-form label {
  color: white;
  margin: 0px;
  padding: 0px;
}

#review_content {
  color: #474e60;
}

#review_out_of_five {
  color: #474e60;
}

.rf {
  margin: 0 10px 0 10px;
}
