
<div class="show">


<div class="review">
    <%= form_for(review) do |f| %>
        <%= f.label :content %>
        <%= f.text_feild :content, :place_holder => "How Did You like this Book?" %>

        <%= f.submit %>
    <% end %>
</div>
</div>
