

<div class = "bookshelf">
         <div class ="welcome">
          <h1>Hi, <%= @user.email %>!</h1>
        </div>
<div class ="shelf">
  <% if current_user == @user %>
  <div class = "show-books">
      <h1>Bookself:</h1>
      <% @books.each do |book| %>
    <div>
       <%= link_to (image_tag(book.image)), book_path(book.id) %>
    </div>
      <% end %>
  <% end %>
</div>
