  <div class="music-div">
    <button class="mute">&#128263;</button>
    <button class="sound-on">&#128266;</button>
  </div>
  <div>
  <h1>Hi, <%= @user.email %>!</h1>
</div>
<div>
  <% if current_user == @user %>
      <h1>Bookself:</h1>
      <% @books.each do |book| %>
        <div>
          <h1><%= link_to book.title, book_path(book.id) %></h1>
          <div><img src="<%= book.image %>" /></div>
        </div>
      <% end %>
  <% end %>
</div>
